<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                 <%= image_tag @pen.image.url(:medium), class: "img-responsive" %>
              </tr>
              <tr>
                <div class="star-rating" data-score= <%= @avg_review %> ></div>
                <em><%= "#{@reviews.length} reviews" %></em>
              </tr>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @pen.name %></td><br>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @pen.description %></td><br>
              </tr>
              <tr>
                <td><strong>Tip size:</strong></td>
                <td><%= @pen.tip_size %></td><br>
              </tr>
              <tr>
                <td><strong>Ink color:</strong></td>
                <td><%= @pen.ink_Color %></td><br>
              </tr>
              <tr>
                <td><strong>Model no:</strong></td>
                <td><%= @pen.model_no %></td><br>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Edit', edit_pen_path(@pen) %> |
          <%= link_to "Delete", @pen, method: :delete, data: {confirm: "Do you really want to delete this?"} %>  |
          <%= link_to 'Back', pens_path %>  |
          <%= link_to "Write a Review", new_pen_review_path(@pen) %>
        </div>
      </div>

      <div class="col-md-7 col-md-offset-1"></div>
       <h3 class="review_title"><%= @pen.name %></h3>
          <p><%= @pen.description %></p>
          <% if @reviews.blank? %>
            <h3>Be the first to review this pen!</h3>
            <%= link_to "Write a Review", new_pen_review_path(@pen), class: "btn btn-danger" %>
          <% else %>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                 <p><%= review.review %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>

<script>
  $('data-score').raty({
  numberMax : 5,
  number    : 100
  });
</script>

<script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script>
