<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @pen.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @pen.name %></td><br>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @pen.description %></td><br>
              </tr>
              <tr>
                <td><strong>Tip size:</strong></td>
                <td><%= @pen.tip_size %></td><br>
              </tr>
              <tr>
                <td><strong>Ink color:</strong></td>
                <td><%= @pen.ink_Color %></td><br>
              </tr>
              <tr>
                <td><strong>Model no:</strong></td>
                <td><%= @pen.model_no %></td><br>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Edit', edit_pen_path(@pen) %> |
          <%= link_to "Delete", @pen, method: :delete, data: {confirm: "Do you really want to delete this?"} %>  |
          <%= link_to 'Back', pens_path %>
        </div>
      </div>
  </div>
</div>
</div>




